* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Index/indexBackground.jpg);
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: aparecerPagina 1s ease;
}

@keyframes aparecerPagina {

    from {
        opacity: 0;
        transform: scale(1.03);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.logo img {
    width: 280px;
}

h1 {
    color: white;
    font-size: 42px;
    letter-spacing: 2px;
}

.opciones {
    display: flex;
    gap: 20px;
}

.btn {
    width: 250px;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease;
    border-radius: 6px;
}

.btn-cliente {
    background: transparent;
    color: white;
    border: 1px solid #444;
}

.btn-cliente:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
    border-color: white;
    background-color: whitesmoke;
    color: black;


}

.btn-admin {
    background: transparent;
    color: white;
    border: 1px solid #444;
}

.btn-admin:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
    border-color: white;
    background-color: whitesmoke;
    color: black;

}

/* responsive */

@media screen and (max-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
        overflow-x: hidden;
    }



    .index-container {
        width: 100%;
        max-width: 400px;
        padding: 40px 25px;
        text-align: center;
    }



    .index-container img {
        width: 120px;
        margin: 0 auto 20px auto;
        display: block;
    }



    .index-container h1 {
        font-size: 42px;
        line-height: 1.1;
        margin-bottom: 15px;
    }



    .index-container p {
        font-size: 16px;
        margin-bottom: 30px;
    }



    .buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }



    .buttons a {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

}