.contenedorReporte {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1b1b;
    box-shadow: white;
}

.reporte-box {
    width: 500px;
    background: var(--gray);
    padding: 40px;
    border-radius: var(--radius);
    box-shadow:
        0 0 25px rgba(255, 255, 255, .25);
    overflow: hidden;
    transition: 0.4s;
    animation: subirLogin 1s ease;
}

@keyframes subirLogin {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contenedorReporte:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ffffff;
}

.reporte-box img {
    width: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.reporte-box h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-style: italic;
}

.reporte-box p {
    text-align: center;
    color: #aaa;
    margin-bottom: 30px;
    font-style: italic;
}

.input-datos {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-datos label {
    margin-bottom: 20px;
}

.input-datos input {
    padding: 14px;
    border-radius: var(--radius);
    background: var(--light-gray);
    color: white;
}

.input-datos input:focus {
    box-shadow: var(--shadow);
}

.reporte-box button {
    width: 100%;
    padding: 14px;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: var(--radius);
}

.reporte-box button:hover {
    background: black;
    color: white;
    box-shadow: var(--shadow);
}

.btnBuscarReporte a {
    text-decoration: none;
}

.contenedorInterfaz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.contenedorInterfaz h1 {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 25px;
}

.contenedorInterfaz img {
    width: 100px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--gray);
    box-shadow: var(--shadow);

}

th {
    background: #818181;
    padding: 18px;
    text-align: left;
    color: rgb(255, 255, 255);
}

td {
    padding: 18px;
    border-top: 1px solid #222;
}

/* tablet*/

@media screen and (max-width: 768px) {

    .contenedorReporte {
        padding: 30px;
    }

    .reporte-box {
        width: 90%;
        max-width: 500px;
        padding: 40px 30px;
    }

    .reporte-box h1 {
        font-size: 3rem;
    }

}

/* cel */

@media screen and (max-width: 600px) {

    .reporte-box {
        width: 95%;
        padding: 30px 20px;
    }

    .reporte-box h1 {
        font-size: 2.3rem;
    }

    .reporte-box img {
        width: 80px;
    }

    .reporte-box button {
        width: 100%;
    }

    .contenedorInterfaz {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .table-container {
        overflow-x: auto;
    }

    table {
        min-width: 700px;
    }
}