.dashboard {
    display: flex;
    min-height: 100vh;
    background-image: url(../img/fondogymshark.jpg);
    background-size: cover;
}

.sidebar {
    width: 250px;
    background: var(--dark);
    border-right: 1px solid #222;
    padding: 30px 20px;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    width: 180px;
    margin-bottom: 10px;
}

.logo h2 {
    letter-spacing: 2px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
}

.nav-btn {
    padding: 15px;
    background: var(--gray);
    color: white;
    border-radius: var(--radius);
    text-align: center;
}

.nav-btn:hover {
    background: white;
    color: black;
    box-shadow: var(--shadow);
}

.nav-btn.active {
    background: white;
    color: black;
}

.main-content {
    flex: 1;
    padding: 60px;
}

.module {
    display: none;
}

.active-module {
    display: block;
}

.module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.module-header button {
    background: white;
    color: black;
    padding: 14px 20px;
    border-radius: var(--radius);
    font-weight: bold;
}

.module-header button:hover {
    background: black;
    color: white;
    box-shadow: var(--shadow);
}


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--gray);
    box-shadow: var(--shadow);
    
}

th {
    background: #ffffff;
    padding: 18px;
    text-align: left;
    color: black;
}

td {
    padding: 18px;
    border-top: 1px solid #222;
}

.actions {
    display: flex;
    gap: 10px;
}

.edit {
    background: white;
    color: black;
    padding: 10px 14px;
    border-radius: 2px;
}

.edit:hover {
    background: black;
    color: white;
    box-shadow: var(--shadow);
}

.delete {
    background: transparent;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 10px 14px;
    border-radius: 3px;
}

.delete:hover {
    background: var(--red);
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal.active {
    display: flex;
}


.modal-content {
    width: 400px;
    background: var(--gray);
    padding: 30px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    position: relative;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #222;
    color: white;
}

.close-modal:hover {
    background: white;
    color: black;
}

.modal-content {
    width: 400px;
    background: var(--gray);
    padding: 30px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content input,
.modal-content textarea {
    padding: 14px;
    background: var(--light-gray);
    color: white;
    border-radius: var(--radius);
}

.modal-content textarea {
    height: 120px;
    resize: none;
}

.modal-content button {
    padding: 14px;
    background: white;
    color: black;
    border-radius: var(--radius);
    font-weight: bold;
}

.modal-content button:hover {
    background: black;
    color: white;
    box-shadow: var(--shadow);

}

.order-detail {
    margin-top: 30px;
    background: var(--gray);
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.order-detail h2 {
    margin-bottom: 20px;
}

.order-detail p {
    margin-bottom: 10px;
}


fila-categoria,
fila-producto,
fila-pedido{

    display: contents;

}