.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 40px;
    background:var(--dark);
    border-bottom:1px solid #ffffff;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:145px;
    margin-left: 700px;
}

.logo h1{
    letter-spacing:2px;
    font-size: 40px;
}

.buscador input{
    width:480px;
    height: 6dvh;
    padding:14px;
    margin-top: 25px;
    margin-left: 750px;
    background:var(--gray);
    color:white;
    border:none;
    border-radius:var(--radius);
}

.buscador input:focus{
    box-shadow:var(--shadow);
}

.btn-carrito{
    background: white;
    color:black;
    padding:14px 22px;
    border-radius:var(--radius);
    font-weight:bold;
    font-size: 15px;
}

.btn-carrito:hover{

    background:black;

    color:white;

    box-shadow:var(--shadow);

}

.productos{
    padding:40px;
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.card{
    background:var(--gray);
    padding:20px;
    border-radius:var(--radius);
    box-shadow:var(--shadow);
    transition:var(--transition);
        box-shadow:
    0 0 25px rgba(255,255,255,.25);
    overflow: hidden;
    transition: 0.4s;
}

.card:hover{
    transform: translateY(-10px);

    box-shadow: 0 0 20px #ffffff;

}


.card:hover{
    transform:translateY(-6px);
    box-shadow: 0 0 20px #ffffff;
}

.card img{
    height:300px;
    object-fit:cover;
    border-radius:var(--radius);
    margin-bottom:20px;
}

.card h2{
    margin-bottom:10px;
}

.precio{
    font-size:15px;
    font-weight:bold;
    margin-bottom:20px;
}

.card a{
    display:block;
    margin-bottom:15px;
    color:#bbb;
}

.card a:hover{
    color:white;
}

.card button{
    width:100%;
    padding:14px;
    background:rgb(206, 197, 197);
    color:black;
    border-radius:var(--radius);
    font-weight:bold;
}

.card button:hover{

    background:black;

    color:white;

    box-shadow:var(--shadow);

}